---
import { isNamedExportBindings } from "typescript";

const TAGS     = {
    NEXT: {
        name: "Next.js",
        class: "bg-gray-300 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300",
    },
    KOTLIN: {
        name: "Kotlin",
        class: "bg-yellow-100 text-yellow-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300",
    },
    JAVA: {
        name: "Java",
        class: "bg-red-100 text-red-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300",
    },
    CLOUD: {
        name: "Cloud",
        class: "bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300",
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-yellow-100 text-yellow-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300",
    },
    REACT: {
        name: "React.js",
        class: "bg-indigo-100 text-indigo-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300",
    },
    SCRUM: {
        name: "Scrum Methodology",
        class: "bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300",
    },
    PHP: {
        name: "PHP",
        class: "bg-purple-100 text-purple-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300",
    },
    LARAVEL: {
        name: "Laravel",
        class: "bg-red-100 text-red-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300",
    },
    MYSQL: {
        name: "MySQL",
        class: "bg-pink-100 text-pink-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-pink-900 dark:text-pink-300",
    }
}

const PROJECTS   = [
    {
        date: "Year: 2024",
        title: "PetFinder: Mobile Application in the Cloud ",
        description: "We developed an Android App from Figma Design to Cloud Deployment. BackEnd was written in Java and deployed in "+
        "Heroku Cloud while FrontEnd was Deployed in FireBase for destribution. This app integrates an OpenAI API utility.",
        github: "https://github.com/una-eif411-41263-202410-G5/project-frontend-tango",
        image: "/petfinder.png",
        tags: [TAGS.KOTLIN, TAGS.JAVA, TAGS.CLOUD]
    },
    {
        date: "Year: From 2023 to 2024",
        title: "SMC Inventory Control System",
        description: "Using Javascript with Next.js as a Framework, Microsoft SQL as a database, Azure for DevOps and Github for"+
        " version control, we developed a resposive inventory manager currently in use for SMC Ltd.",
        github: "https://github.com/Nivek-12/ControlinventarioSMC-UNA",
        image: "/smc.png",
        tags: [TAGS.REACT, TAGS.NEXT, TAGS.JAVASCRIPT, TAGS.SCRUM]
    },
    {
        date: "Year: 2023",
        title: "Web User Managment System",
        description: "Using Laravel as the PHP Web Framework, along with Apache Web Server and Bootstrap as FrontEnd toolkit",
        github: "https://github.com/BrenesRi/ProyectoAdmin",
        image: "/bases.PNG",
        tags: [TAGS.PHP, TAGS.LARAVEL, TAGS.MYSQL]
    },
];
---
{
PROJECTS.map(project => (
    <article>
<h3 class="text-2xl font-semibold text-green-100 mb-2">{project.title}</h3>
<p class="text-lg mb-4 text-pretty">{project.description}</p>
<ul class="flex gap-x-2 flex-row py-1 pb-6">
    {project.tags.map(tag => (
        <li>
            <span class={tag.class}>
                {tag.name}
            </span>
        </li>
    ))}
</ul>
<img class="rounded shadow-xl shadow-blue-100/10"
src={project.image} alt="Imagen del Proyecto" />
    </article>
    <br/>
    <br/>
))
}

